/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-blue: #9ee2f5;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-green: #00a99d;
  --color-green: #06D6A0;
  --color-light-green: #50E2BC;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font line-height */
  --line-height-size: 1.8rem;

  /* Size */
  --border-radius-size: 4px;

  /* Animation */
  --animation-duration: 0.3s
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  margin: 0;
}

/* 태그 스타일 초기화 */
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.header__inner {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
  position: relative;
}

.header__top-menu {
  display: flex;
}

.top-menu__item {
  padding: 10px 10px;
  list-style: inside;
  font-size: var(--font-micro);
}

.top-menu__item:nth-child(1) {
  list-style: none;
}

.top-menu__item a {
  position: relative;
  left: -3px;
}

.top-menu__item::marker {
  font-size: 0.1px;
  color: var(--color-green);
}

.top-menu__zoom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom__btn {
  padding: 3px 10px;
  border: 1px solid var(--color-light-grey);
  margin-right: 4px;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
}