/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-red:#E03A3E;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-blue: #2a7e7a;
  --color-blue: #45ADA8;
  --color-light-green: #9DE0AD;
  --color-light-yellow: #E5FCC2;
  --color-green: #4fbb2e;
  --color-beige: beige;
  --color-brown: #BE5108;
  --color-light-brown: #F8CBAD;
  --color-lighter-brown: #FBE5D6;
  --color-dark-green: #4A8522;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 24px;
  --font-small: 18px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font line-height */
  --line-height-size: 1.8rem;

  /* Size */
  --border-radius-size: 8px;
  --icon-large-size: 28px;
  --icon-small-size: 22px;

  /* Animation */
  --animation-duration: 0.3s
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  margin: 0;
  height: 100vh;
  background-color: var(--color-lighter-brown);
}

/* Initialization */
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  width: 80%;
  height: 0;
  padding-bottom: 45%;
  background: url(./img/background.png) no-repeat center center;
  background-size: contain;
}

/* header 영역 */
.header {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.header.show {
  display: flex;
}

.header__status {
  position: relative;
  z-index: 999;
}

.header__btns {
  position: absolute;
  right: 10px;
  display: flex;
  z-index: 999;
}

.fa-pause {
  font-size: 23px;
}

.header__stage {
  background-color: var(--color-light-brown);
  font-size: var(--font-medium);
  font-weight: bold;
  padding: 0 10px;
  height: 45px;
  border: 2px solid var(--color-black);
  border-radius: 10px;
}

.header__time-and-hearts {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-regular);
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.header__time, .header__hearts {
  width: 8vw;
  background-color: var(--color-lighter-brown);
  border: 2px solid var(--color-black);
  border-radius: 10px;
  padding: 2px;
}

.header__time {
  margin-right: 5px;
  text-align: center;
}

.header__hearts {
  margin-left: 5px;
  color: red;
  text-align: left;
  padding-left: 10px;
}

.header__heart {
}

.header__heart.hidden {
  visibility: hidden;
}

.header__btn {
  background-color: var(--color-lighter-brown);
  border: 2px solid var(--color-black);
  border-radius: 10px;
  font-size: var(--icon-small-size);
  width: 45px;
  height: 45px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn--pause {
  color: var(--color-brown);
}

.header__btn--exit {
  color: var(--color-black);
}

/* content 영역 */
.content {
  position: absolute;
  display: none;
  top: 16%;
  left: 0;
  width: 100%;
  height: 84%;
}

.content.show {
  display: block;
}

.bugs {
  position: absolute;
  width: 100%;
  height: 100%;
}

.files {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bug__img {
  position: absolute;
  width: 5vw;
  cursor: pointer;
  z-index: 9;
  transition: 0.5s;
}

.bug__img.hidden {
  visibility: hidden;
  transform: scale(0.5) rotate(360deg);
}

.file__img {
  position: absolute;
  width: 5vw;
  cursor: pointer;
  z-index: 10;
  transition: 0.5s;
}

.file__img.hidden {
  visibility: hidden;
  transform: scale(0.5);
}

/* overlay screen 영역 */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.overlay.show {
  display: flex;
}

.overlay--start {

}

.overlay__main-title {
  width: 65%;
  margin-top: 50px;
}

.overlay__sub-title {
  width: 7%;
  transition: 1s;
  margin-top: 10px;
}

.overlay__sub-title:hover {
  transform: rotate(225deg);
}

.overlay__btn {
  color: var(--color-white);
  font-size: calc(var(--font-medium)*1.2);
  margin-top: 20px;
  transition: 0.3s;
}

.overlay__btn:hover {
  transform: scale(1.1) translateY(2px);
}

@media screen and(max-width: 768) {
  
}