/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-red:#E03A3E;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-yellow: #fff7d1;
  --color-black: #000000;
  --color-dark-blue: #2a7e7a;
  --color-blue: #45ADA8;
  --color-light-green: #9DE0AD;
  --color-light-yellow: #E5FCC2;
  --color-green: #4fbb2e;

  /* Font size */
  --font-large: 48px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font line-height */
  --line-height-size: 1.8rem;

  /* Size */
  --border-radius-size: 8px;
  --icon-large-size: 30px;
  --icon-small-size: 20px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  margin: 0;
  background-color: var(--color-light-green);
  height: 100vh;
}

/* Initialization */
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

/* shopping 영역 */
.shopping {
  background-color: var(--color-light-yellow);
  border-radius: 10px;
  min-width: 330px;
  max-width: 500px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.shopping__header {
  background-color: var(--color-blue);
  padding: 6px;
  text-align: center;
}

.header__title {
  margin-bottom: 6px;
}

.shopping__items.border {
  border-bottom: 1px solid var(--color-grey);
}

.shopping__item {
  margin-bottom: 6px;
}

.shopping__main {
  position: relative;
  padding: 10px 20px;
  text-align: right;
  height: 350px;
  overflow-y: auto;
}

.item__name {
  float: left;
}

.item__name.checked {
  text-decoration: line-through;
  text-decoration-color: var(--color-dark-grey);
  color: var(--color-light-grey);
}

.item__icon {
  margin-left: 8px;
  cursor: pointer;
  font-size: var(--icon-small-size);
  transition: 0.3s;
}

.item__icon:hover, .item__icon:active {
  transform: rotate(20deg);
}

.item__icon--check {
  color: var(--color-light-grey);
}

.item__icon--check.checked {
  color: var(--color-green);
}

.item__icon--delete {
  color: var(--color-red);
}

.shopping__total-price {
  visibility: hidden;
}

.shopping__total-price.show {
  visibility: visible;
}

.shopping__check-all, .shopping__delete-all {
  border: 1px solid var(--color-light-grey);
  background-color: var(--color-light-white);
  padding: 4px;
  margin-top: 2px;
  font-size: var(--font-micro);
  cursor: pointer;
  visibility: hidden;
}

.shopping__check-all.show, .shopping__delete-all.show {
  visibility: visible;
}

.shopping__guidance {
  text-align: center;
  color: var(--color-light-grey);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.shopping__guidance.hidden {
  visibility: hidden;
}

.shopping__footer {
  text-align: center;
}

.footer__input {
  border: 0;
  padding: 6px 3px;
  outline: none;
  width: 49%;
  background-color: transparent;
  font-size: var(--font-small);
  vertical-align: middle;
}

.footer__btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  padding: 8px 0;
  font-size: var(--icon-large-size);
  color: var(--color-white);
}

.btn__icon {
  display: inline-block;
  transition: 0.3s;
}

.footer__btn:hover .btn__icon {
  transform: translateY(1px);
  color: var(--color-dark-blue);
}
