/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-red:#E03A3E;
  --color-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-blue: #45ADA8;
  --color-light-green: #9DE0AD;
  --color-light-yellow: #E5FCC2;
  --color-green: #4fbb2e;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font line-height */
  --line-height-size: 1.8rem;

  /* Size */
  --border-radius-size: 8px;
  --icon-large-size: 18px;
  --icon-small-size: 20px;

  /* Animation */
  --animation-duration: 0.3s
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  margin: 0;
  background-color: var(--color-light-green);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Initialization */
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

/* shop-list 영역 */
.shop-list {
  background-color: var(--color-light-yellow);
  margin: 20px;
  border-radius: 8px;
  max-width: 500px;
}

.shop-list__header {
  background-color: var(--color-blue);
  border-radius: 8px 8px 0 0;
  padding: 6px;
  text-align: center;
}

.shop-list__title {
  margin-bottom: 6px;
}

.shop-list__items {
  border-bottom: 1px solid var(--color-grey);
}

.shop-list__item {
  margin-bottom: 6px;
}

.shop-list__main {
  padding: 10px 20px;
  text-align: right;
  min-height: 300px;
}

.item__name {
  float: left;
}

.item__name.checked {
  text-decoration: line-through;
  text-decoration-color: var(--color-dark-grey);
  color: var(--color-light-grey);
}

.item__icon {
  margin-left: 8px;
  cursor: pointer;
  font-size: var(--icon-small-size);
  transition: 0.3s;
}

.item__icon:hover {
  transform: rotate(15deg);
}

.item__icon--check {
  color: var(--color-light-grey);
}

.item__icon--check.checked {
  color: var(--color-green);
}

.item__icon--remove {
  color: var(--color-red);
}

.shop-list__footer {
  text-align: center;
}

.shop-list__input {
  border: 0;
  padding: 6px 3px;
  outline: none;
  width: 49%;
  background-color: transparent;
  font-size: var(--font-small);
}

.shop-list__btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  border-radius: 0 0 8px 8px;
  padding: 6px 0;
  font-size: 28px;
  color: var(--color-white);
}
