/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --border-radius-size: 4px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

/* 태그 스타일 초기화 */
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

/* nav 영역 */
#navbar {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  padding-right: 0;
  color: var(--color-black);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo i {
  margin-right: 4px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__items {
  padding: 6px 20px;
  margin: 0 6px;
  cursor: pointer;
  border-radius: var(--border-radius-size);
}
.navbar__menu__items.active {
  border: 1px solid var(--color-black);
}
.navbar__menu__items:hover {
  background-color: var(--color-dark-grey);
}

.navbar__menu__items:last-child {
  margin-right: 0;
}

/* Home 영역 */
#home {
  background: url(./Image/home-background.png), no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 40px;
  color: var(--color-white);
}

#home__avatar {
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__contact {
  font-size: var(--font-small);
  border: 1px solid var(--color-white);
  padding: 8px;
  border-radius: var(--border-radius-size);
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  margin-top: 16px;
}