/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-green: #006B4F;
  --color-green: #06D6A0;
  --color-light-green: #50E2BC;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font line-height */
  --line-height-size: 1.8rem;

  /* Size */
  --border-radius-size: 4px;

  /* Animation */
  --animation-duration: 0.3s
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  margin: 0;
}

/* 태그 스타일 초기화 */
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

/* nav 영역 */
#navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--color-white);
  position: fixed;
  width: 100%;
  z-index: 999;
}

#navbar.bg-green {
  background-color: var(--color-green);
}

#navbar a {
  color: var(--color-white);
  font-size: calc(var(--font-medium) * 1.2);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo i {
  margin-right: 4px;
  font-size: calc(var(--font-medium) * 1.2);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__items {
  padding: 6px 20px;
  margin: 0 6px;
  cursor: pointer;
  border-radius: var(--border-radius-size);
  font-size: calc(var(--font-regular)*1.1);
  border: 1px solid transparent;
}
.navbar__menu__items.active {
  border-color: var(--color-white);
}
.navbar__menu__items:hover {
  background-color: var(--color-light-green);
}

.navbar__menu__items:last-child {
  margin-right: 0;
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 20px;
  font-size: calc(var(--font-medium) * 0.8);
  cursor: pointer;
  display: none;
}

/* Home 영역 */
.section {
  text-align: center;
  padding: 50px 0;
  margin: auto;
}

.section__container {
  max-width: 1000px;
  margin: auto;
  padding: 0 40px;
}

#home {
  background: url(./Image/home-background.png), no-repeat center center;
  background-size: cover;
}

#home__avatar {
  margin-top: 46px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__contact {
  font-size: var(--font-small);
  border: 1px solid var(--color-white);
  padding: 8px;
  border-radius: var(--border-radius-size);
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  margin-top: 12px;
}

/* About 영역 */
#about {
  color: var(--color-black);
  background-color: var(--color-light-white);
}

.about__description {
  line-height: var(--line-height-size);
}

.about__techstack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.about__techstack li {
  flex: 1;
}

.techstack__icons {
  font-size: calc(var(--font-large)*1.3);
  color: var(--color-blue);
  width: 230px;
  height: 230px;
  line-height: 220px;
  border-radius: 50%;
  border: 1px solid var(--color-blue);
  margin: auto;
  margin-bottom: 20px;
}

.techstack__icons i {
  transition: var(--animation-duration);
}

.techstack__icons:hover i {
  transform: rotate(-25deg) scale(1.1);
}

i.fa-html5 {
  color: #FE4C1E;
}
i.fa-css3-alt {
  color: #0071BF;
}
i.fa-js {
  color: #E6B100;
}
i.fa-react {
  color: #02D9FF;
}
i.fa-node {
  color: #90C53F;
}
i.fa-database {
  color: #428BC7;
}

.techstack__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin-bottom: 10px;
}

.techstack__description {

}

.education {
  display: flex;
  text-align: left;
}

.education__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.education__description {
  font-size: var(--font-small);
  color: var(--color-grey);
}

.education__period {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}

/* Skills 영역 */
#skills {
  background-color: var(--color-yellow);
}

.skills__description {
  line-height: var(--line-height-size);
}

.skillset {
  color: var(--color-light-white);
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.skillset__title {
  color: var(--color-light-white);
}

.skillset__left {
  flex-basis: 60%;
  padding: 10px;
  background-color: var(--color-dark-grey);
}

.skill {
  margin-bottom: 26px;
  padding: 0 45px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-micro);
}

.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-grey);
}

.skill__value {
  background-color: var(--color-orange);
  height: 100%;
}

.skillset__right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tools {
  padding: 10px 0 18px 0;
  flex: 1.4;
  background-color: var(--color-grey);
}

.etc {
  padding: 10px 0 18px 0;
  flex: 1;
  background-color: var(--color-light-grey);
}

/* Project 영역 */
.projects__categories {
  display: flex;
  justify-content: center;
  font-size: 0;
  flex-wrap: wrap;
}

.category__btn {
  border: 0.2px solid var(--color-dark-white);
  padding: 6px 30px;
  font-weight: var(--weight-semi-bold);
  border-radius: var(--border-radius-size);
  margin: 30px 0;
}

.category__cnt {
  display: inline-block;
  font-size: var(--font-small);
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-light-white);
  position: relative;
  top: -10px;
  left: 6px;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}

.category__btn.active, 
.category__btn:hover {
  background-color: var(--color-green);
  color: var(--color-light-white);
}

.category__btn.active .category__cnt, 
.category__btn:hover .category__cnt{
  opacity: 1;
  top: 0;
}

.projects__work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  opacity: 1;
  transition: 0.3s ease-out;
}

.projects__work.fade-out {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
}

.project {
  width: 220px;
  height: 220px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease-in;
  transform: translateY(10px);
  padding: 10px;
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: '';
  display: inline-block;
  width: 110px;
  height: 2px;
  background-color: var(--color-dark-white);
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translateX(-50%);
}

.project:hover .project__description{
  opacity: 0.8;
  transform: translateY(0);
}

/* Testimonial 영역 */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin-top: 40px;
}

.testimonial {
  display: flex;
  margin-bottom: 30px;
}

.testimonial:nth-child(even) {
  flex-direction: row-reverse;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial:nth-child(2n + 1) .testimonial__avatar {
  margin-right: 30px;
}

.testimonial:nth-child(2n) .testimonial__avatar {
  margin-left: 30px;
}

.testimonial__speech {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: var(--border-radius-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial__speech p {
  font-size: var(--font-small);
}

.testimonial__name a {
  color: var(--color-green);
}

/* Contact 영역 */
#contact {
  background-color: var(--color-green);
}

#contact h1, #contact h2, #contact a, #contact i,
#contact p {
  color: var(--color-white);
}

.contact__links i {
  font-size: var(--font-large);
  margin: 16px 6px;
  transition: 0.3s;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-orange);
}

/* backToTop 버튼 */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color-dark-green);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

#back-to-top i {
  color: var(--color-white);
  font-size: var(--font-medium);
}

#back-to-top.show {
  visibility: visible;
  opacity: 1;
}

/* 미디어 쿼리 */
@media screen and (max-width: 800px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    background-color: var(--color-green);
    margin-top: 16px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: none;
  }

  .navbar__menu.show {
    display: flex;
  }

  .navbar__menu__items {
    width: 100%;
    text-align: center;
  }

  .navbar__menu__items.active {
    border: none;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .about__techstack {
    flex-direction: column;
  }

  .about__techstack li {
    margin-bottom: 28px;
  }

  .category__btn {
    margin: 0;
    flex-basis: 50%;
  }

  .project {
    width: 100%;
    flex-grow: 1;
  }

  .skillset {
    flex-direction: column;
  }

  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }

  #back-to-top {
    width: 46px;
    height: 46px;
  }
}