/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

/* 스타일 초기화 */
a {
  all: unset;
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #4d4d4d;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: #4d4d4d;
  font-weight: 300;
  margin: 0;
  height: 100vh;
}

.inner {
  position: relative;
  width: 998px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* border: 1px solid red; */
}

/* 헤더 영역 */
.head-container {
  width: 100%;
  height: 145px;
  /* border: 1px solid blue; */
}

.head-topmenu {
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
}

.head-topmenu a {
  width: 78px;
  height: 24px;
  font-size: 0.78rem;
  margin: 3px;
  background-color: rgb(94, 205, 50);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 14px;
}

.head-topmenu a i {
  font-size: 0.8rem;
  margin-right: 5px;
}

.head-title {
  height: 105px;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
}

.head-logo {
  /* border: 1px solid red; */
  width: 300px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.head-logo a {
  /* border: 1px solid orange; */
  width: 100%;
  height: 105px;
  background: url(../Image/logo_sample.jpg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  margin-top: 23px;
  margin-left: 14px;
}

.head-menu {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.menu-main {
  height: 40px;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  margin: 32px 20px;
}

.menu-main:nth-child(1) {
  margin-left: 3px;
}
.menu-main:nth-child(5) {
  margin-right: 3px;
}

.menu-btn {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.menu-sub {
  /* border: 1px solid red; */
  position: absolute;
  display: none;
  margin-top: 7px;
  padding: 8px;
  font-size: 1rem;
  z-index: 1;
}

.menu-main:hover .menu-sub {
  display: flex;
  /* border: 1px solid green; */
  width: 600px;
}

.menu-main:hover .menu-btn {
  color: rgba(220, 20, 70, 0.89);
}

.menu-main:nth-child(4) .menu-sub, 
.menu-main:nth-child(5) .menu-sub {
  flex-direction: row-reverse;
  transform: translateX(-488px);
}

.menu-sub a {
  padding-right: 20px;
  cursor: pointer;
}

.menu-sub a:hover {
  color: rgba(220, 20, 70, 0.89);
}

/* 메인 이미지 섹션 */
.main-image {
  margin-top: 10px;
  border: 1px solid blue;
  height: 420px;
}